{% extends "layout.html" %}
{% block breadcrumbs %}
Forums
{% endblock %}
{% block body %}
<div id="t3p-entries">
<div class="tbl-wrapper">
	<table class="t3p-tbl">
		<thead>
			<tr>
				<th>Forum</th>
				<th>Latest Active Topic</th>
				<th>Latest Poster</th>
				<th width="6%">Topics</th>
			</tr>
		</thead>
		<tbody>
			{% for forum in forums %}
			<tr>
				<th><a href="{{ url_for('show_topics', forum_id=forum.forum_id) }}">{{ forum.forum }}</a></th>
				<td>
					{% if forum.latest_post %}
						<a href="{{ url_for('show_posts', forum_id=forum.forum_id, topic_id=forum.latest_post.topic.topic_id) }}#p{{ forum.latest_post_id }}">{{ forum.latest_post.topic.topic }}</a>
					{% else %}
						<em>No topics.</em>
					{% endif %}
				</td>
				<td>
					{% if forum.latest_post %}
						<a href="{{ url_for('show_user', user_id=forum.latest_post.poster.id) }}">{{ forum.latest_post.poster.name }}</a>
					{% else %}
						&mdash;
					{% endif %}
				</td>
				<td class="t3p-numeric">{{ forum.topic_count }}</td>
			</tr>
			{% else %}
			<tr>
				<td colspan="4">
					Sorry, there are no forums. Why not create one?
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>

{% if current_user.is_authenticated %}
<form method="post" action="" id="t3p-form">
	<div>
		<label for="t3p-forum">Create a new forum</label>
		<input type="text" maxlength="128" id="t3p-forum" name="forum">
	</div>
	<div><input type="submit" value="Post"></div>
</form>
{% endif %}
{% endblock %}
