<!DOCTYPE html>

<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic&subset=latin,latin-ext">
		<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='screen.css') }}">
		<link rel="stylesheet" type="text/css" media="print" href="{{ url_for('static', filename='print.css') }}">
	</head>
	<body>

		<header>
			<h1>The Third Place</h1>
			<p>{% block breadcrumbs %}{% endblock %}</p>
		</header>

		<nav>
			<ul>
			{% if current_user.is_authenticated %}
				<li>Hello, {{ current_user.name }}!</li>
				<li><a href="{{ url_for('security.logout') }}">Logout</a></li>
			{% else %}
				<li><a href="{{ url_for('security.login') }}">Login</a></li>
			{% endif %}
			</ul>
		</nav>

		<main>
			{%- with messages = get_flashed_messages(with_categories=true) -%}
			{% if messages %}
				<ul class="flashes">
				{% for category, message in messages %}
					<li class="{{ category }}">{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			{%- endwith %}

			{% block body %}{% endblock %}
		</main>

	</body>
</html>
