{% extends "layout.html" %}
{% block breadcrumbs %}
<a href="{{ url_for('show_forums') }}">Forums</a> &raquo;
{{ forum.forum }}
{% endblock %}
{% block body %}
<div id="t3p-entries">
	<div class="tbl-wrapper">
		<table class="t3p-tbl">
			<thead>
				<tr>
					<th>Topic</th>
					<th>Latest Poster</th>
					<th>Freshness</th>
					<th width="6%">Posts</th>
				</tr>
			<thead>
			<tbody>
				{% for topic in topics %}
				<tr{% if topic.status == 2 %} class="t3p-sticky"{% endif %}>
					<th><a href="{{ url_for('show_posts', forum_id=topic.forum_id, topic_id=topic.topic_id) }}">{{ topic.topic }}</a></th>
					<td><a href="{{ url_for('show_user', user_id=topic.latest_post.poster.id) }}">{{ topic.latest_post.poster.name }}</a></td>
					<td>{{ topic.latest_post.posted }}{% if topic.status == 2 %} (sticky){% endif %}</td>
					<td class="t3p-numeric">{{ topic.post_count }}</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="4">
						Sorry, there are no topics. Why not create one?
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% if current_user.is_authenticated %}
<form method="post" action="" id="t3p-form">
	{{ form.hidden_tag() }}
	<div>
		{{ form.topic.label }}
		{{ form.topic(maxlength=128) }}
	</div>
	<div>
		{{ form.post.label }}
		{{ form.post(rows=10) }}
	</div>
	<div><input type="submit" value="Post"></div>
</form>
{% endif %}
{% endblock %}
